{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Wowrares</title>
</head>

<body>
<div class="container">
{#    <div class="item header"><a href={% url 'home' %}>Wowrares</a></div>#}
{#    <div class="item sidebar-nav">#}
{#        {% for individual_zone in zones %}#}
{#            <div class="item nav-location">#}
{#                <a href="{% url 'zone' zone=individual_zone.name.lower %}">{{ individual_zone.name }}</a>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="item map">#}
{#        <img class="map-point" src="https://classicdb.ch/templates/wowhead/images/map-pin-yellow.png"> #}
{#        <img class="map-image" src="{{ zone.image }}" alt="Map of the World of Warcraft Classic zone {{ zone.name }}.">#}
{#    </div>#}
{#    <div class="item mobs">#}
{#        {% for mob in mobs %}#}
{#            <div class="item mob">#}
{#                <div class="item mob-name">#}
{#                    <a href="{% url 'mob' zone=zone.name.lower mob=mob.name.lower %}">{{ mob.name }}</a>#}
{#                </div>#}
{#                <div class="item mob-coordinates">{{ mob.coordinates }}</div>#}
{#                <div class="item mob-drops">#}
{#                {% for item in mob.items.all %}#}
{#                    <div class="item mob-drop">{{ item }}</div>#}
{#                {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    {% if mob %}#}
{#        <div class="mob-info">#}
{#            <div class="item mob-picture">#}
{#                <img src="{{ mob.image }}" alt="Image of the rare spawn {{mob.name}}.">#}
{#            </div>#}
{#            <div class="info">#}
{#                <div class="item name">name: {{ mob.name }}</div>#}
{#                <div class="item level">level: {{ mob.level }}</div>#}
{#                <div class="item health">health: {{ mob.health }}</div>#}
{#                <div class="item damage">damage: {{ mob.damage }}</div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#    <div class="item footer">Footer</div>#}
</div>

</body>

</html>